<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.ctrlq.passwords"
        version   = "1.2.1">
    
    <name>Secure Passwords</name>
    
    <description>
        Generate strong and unique passwords for all your online accounts.
    </description>
    
    <author href="http://www.labnol.org/" email="amit@labnol.org">
        Amit Agarwal
    </author>
    
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="permissions" value="none"/>
    <preference name="fullscreen" value="true" />
    
    <gap:platform name="android" />    
    <icon src="icon.png" />        
    
</widget>
