   * {
     box-sizing: border-box;
 }
 *:focus {
     outline: none;
 }
 body {
     font-family: Arial;
 }
#mainPopup {
	height: 400px;
	width: 300px;
}
 .login {
     xmargin: 10px auto;
     xwidth: 300px;
 }
 .login-screen {
     xbackground-color: #FFF;
     xpadding: 10px;
     xborder-radius: 5px
 }
 .app-title {
     text-align: center;
     color: #777;
     font-size: 12px;
     text-transform: uppercase;
     font-family: courier;
 }
 .login-form {
     text-align: center;
 }
 .control-group {
     margin-bottom: 10px;
 }
 #outputInfo {
     color: red;
     font-family: arial;
     font-size: 11px;
 }
 #outputPassword {
     background-color: #ff9;
 }
 .tt-dropdown-menu {
     background-color: #ECF0F1;
     border: 1px solid #3498DB;
     text-align: left;
     width: 250px;
     padding: 0 0 0 10px;
     font-size: 15px;
 }
 input {
     text-align: center;
     background-color: #ECF0F1;
     border: 2px solid transparent;
     border-radius: 3px;
     font-size: 16px;
     font-weight: 200;
     padding: 10px 0;
     width: 250px;
     transition: border .5s;
 }
 input:focus {
     border: 2px solid #3498DB;
     box-shadow: none;
 }
 .btn {
     border: 2px solid transparent;
     background: #3498DB;
     color: #ffffff;
     font-size: 16px;
     line-height: 25px;
     padding: 10px 0;
     text-decoration: none;
     text-shadow: none;
     border-radius: 3px;
     box-shadow: none;
     transition: 0.25s;
     display: block;
     width: 250px;
     margin: 0 auto;
 }
 .btn:hover {
     background-color: #2980B9;
 }
 .help {
     margin: 10px auto 0;
    width: 250px
 }
 .left {
     float: left;
 }
 .right {
     float: right;
 }
 .login-link {
     font-size: 12px;
     color: #444;
     display: block;
 }
 #info {
     display: none;
     margin: 10px 0;
 }
 #info.active {
     display: block;
 }
 h2,
 h3 {
     font-family: courier;
     font-size: 16px;
     color: #444;
 }
 p {
     font-size: 14px;
     color: #666;
 }
 #modal-footer {
     text-align: center;
     background-color: yellow;
     color: black;
 }
 .credit {
     font-family: arial;
     font-size: 10px;
     line-height: 16px;
 }